{% with
    title="Donation Form",
    description="<3"
%}
    {% include "components/top.html" %}
{% endwith %}

<h1>Donation</h1>
<h2>Crypto Currencies</h2>
<h3>Bitcoin (BTC)</h3>
<p>
    I'm to lazy to set up a Bitcoin wallet, please just donate to GiveWell: <a href="https://secure.givewell.org/">https://secure.givewell.org/</a>
</p>

Donate to charity <a href="https://www.givewell.org/about/donate/cryptocurrency?FormStack_Form_Submission__c.referrer_header=https://onlix.me/">using crypto</a>:

<pre>
0x (ZRX):
    0x6f16e5FC3Be15Ba3b08Fc884d100a53723A1cA72

Augur (REP):
    0x86DCa55A712b7B4b6989e1E72D9c55C6022e4744

Basic Attention Token (BAT):
    0x7B707e17a514Ff6bbe0703fe40e70badF7d32a44

Bitcoin (BTC):
    33BFZMhRnVeMD12cY7m7BfprrGnwCtuLyP

Bitcoin Cash (BCH):
    qqftnjls854mudqnuv9qwc4ndfslscz4ecp3u878se

Cardano (ADA):
    addr1vxduecql0ydcgug2xh6v76av4yv989htlkg2kagxxxun75qchuess

Dash (DASH):
    XhAZw2vZDhN5FDEDY5GSKy94JsPEme2xKd

Ethereum (ETH):
    0x7cF2eBb5Ca55A8bd671A020F8BDbAF07f60F26C1

Ethereum Classic (ETC):
    0x26A7fA981E513873Ba036400dd70C787303930A4

Internet Computer (ICP):
    4f4438ddd63e5aa48fff7c8c84aef94b0c352c6ebd5a99da3f004d4dceebcc8e

Litecoin (LTC):
    M9MYWkPkshQRRuyjMVPNfFjasu4sZi1reR

Maker (MKR):
    0xE633081F7679ca1Ce7E438Bb6bA8a30e32f7256A

Solana (SOL):
    Bazj7if5Gbf7VwEVQjGSfM4kyByrzuRrRoKeje7f2dwv

Tether (USDT):
    0x8E45874E270940e05aBB0F87F447Aa3A09077057

USD Coin (USDC):
    0x3a5044e03a94193Cf795aa5020eBb0644B02b9Be
</pre>
<!-- <a href="bitcoin:bc1qzazsy93egdg9p9lskpts0cnh8cgvsy0ryv6rhfvsvmpgk0vstpysk0d593?message=WebsiteDonation">Open address (Electrum)</a>
<pre>
bc1qzazsy93egdg9p9lskpts0cnh8cgvsy0ryv6rhfvsvmpgk0vstpysk0d593
</pre> -->

{% include "components/end.html" %}