{% with title="My Skills", description="What I'm good at :)" %} {% include "components/top.html" %} {% endwith %}

<h2>Skills</h2>
<p>
    First, let's define what counts as a skill. According to cambridge.org, a skill is
    "[...] an ability to do an activity or job well, especially because you have practi[c]ed it".
    What I myself consider a skill is when I know how to use/do something subconsciously.
    <br>
    For example, when learning a new programming language, I always have to look things up.
    But when I get used to the programming language, I don't even have to think about how to, say,
    add a new function or a class.
</p>

<h3>Open Source Projects</h3>
<p>
    Free and open source (FOSS) projects are labelled with an <foss></foss> symbol.
    But what does that mean? According to <a href="https://en.wikipedia.org/wiki/Free_and_open-source_software">Wikipedia</a>:
    
    <blockquote>
        Free and open-source software (FOSS) is a term used to refer to groups of software consisting of both
        free software and open-source softwarewhere anyone is freely licensed to use, copy, study,
        and change the software in any way, and the source code is openly shared so that people are
        encouraged to voluntarily improve the design of the software.[3] This is in contrast to
        proprietary software, where the software is under restrictive copyright licensing and the source code
        is usually hidden from the users.
    </blockquote>
</p>

<h3>Programming Languages & similar</h3>
I'll list markup languages (such as HTML) in here as well to keep things simple.
Additionally, this list also includes important frameworks.
<br>
<strong>⭐ = Favorite</strong>
<br>
<strong>🪦 = Not using often anymore</strong>

<ul>
    <li>
        Python ⭐
        
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/Flask_(web_framework)">Flask ⭐</a> · micro web framework written in Python</li>
            <li><a href="https://en.wikipedia.org/wiki/Jinja_(template_engine)">Jinja2 ⭐</a> · web template engine for the Python</li>
            <li><a href="https://github.com/pallets/click/">Click ⭐</a> · </li>
            <li><a href="https://en.wikipedia.org/wiki/Requests_(software)">Requests</a> · HTTP library for the Python programming language</li>
            <li><a href="https://en.wikipedia.org/wiki/Tkinter">tkinter</a> · the standard Python interface to the Tcl/Tk GUI toolkit</li>
            <li><a href="https://en.wikipedia.org/wiki/Pickle_(Python)">Pickle</a> · Python object serialization tool</li>
            <li><a href="https://github.com/boppreh/keyboard">Keyboard</a> · Python library for controlling the keyboard</li>
            <li><a href="https://github.com/boppreh/mouse">Mouse</a> · Python library for controlling the mouse</li>
            <li><a href="https://github.com/Rapptz/discord.py">discord.py</a> · API wrapper for Discord written in Python</li>
            <li><a href="https://github.com/Pycord-Development/pycord">pycord</a> · maintained fork of discord.py with slash commands & more</li>
        </ul>
    </li>
    <li>HTML ⭐</li>
    <li>CSS 🪦</li>
    <ul>
        <li>SASS ⭐</li>
    </ul>
    <li>JavaScript ⭐</li>
    <li>Java</li>
    <li>Unix/NT Shell Scripting</li>
    <ul>
        <li>Shell</li>
        <li>Batchfile 🪦</li>
    </ul>
    <li>VBA 🪦</li>
</ul>

<h3>Software</h3>
<h4>Media & Office</h4>
<ul>
    <li><a href="https://gimp.org/">GIMP ⭐</a> <foss></foss> · GNU image manipulation program</li>
    <li><a href="https://shotcut.org/">Shotcut</a> <foss></foss> · simple MLT video editor</li>
    <li><a href="https://getpaint.net/">Paint.NET</a> · image editor for Windows</li>
    <li><a href="https://www.audacityteam.org/">Audacity</a> <foss></foss> · audio editor</li>
    <li><a href="https://libreoffice.org/">LibreOffice</a> <foss></foss> · office software</li>
    <li><a href="https://diagrams.net/">draw.io (diagrams.net)</a> <foss></foss> · open source diagram creation tool</li>
    <li><a href="https://inkscape.org/">Inkscape</a> <foss></foss> · open source scalable vector art creation tool</li>
    <li><a href="https://kdenlive.org">Kdenlive</a> <foss></foss> · advanced MLT video editor</li>
    <hr>
</ul>

<h4>Programming</h4>
<ul>
    <li><a href="https://code.visualstudio.com/">VisualStudio Code ⭐</a> <foss></foss> · code editor maintained by Microsoft</li>
    <li><a href="https://github.com/">GitHub ⭐</a> · provider of Internet hosting for software development and version control using Git</li>
    <li><a href="https://git-scm.com/">Git</a> <foss></foss> · version control system</li>
    <li><a href="https://www.jetbrains.com/idea/">IntelliJ Idea (Community Edition)</a> <foss></foss> · IDE for Java development</li>
    <li><a href="https://filezilla-project.org/">FileZilla</a> <foss></foss> · FTP application</li>
</ul>

<h4>Operating Systems</h4>
<p>Sorted by how often I have used the software in the past.</p>
<ul>
    <li><a href="https://manjaro.org/">Manjaro (KDE) ⭐</a> <foss></foss> · based on Arch Linux, many additions</li>
    <li><a href="https://debian.org/">Debian (Server) ⭐</a> <foss></foss> · operating system I run on my server</li>
    <li><a href="https://www.microsoft.com/de-de/software-download/windows10">Windows 10</a> · mainstream desktop operating system</li>
    <li><a href="https://endeavouros.com/">EndeavourOS (GNOME)</a> <foss></foss> · based on Arch Linux</li>
    <li><a href="https://ubuntu.org/">Ubuntu (GNOME)</a> <foss></foss> · one of the most popular Linux desktop operating systems out there</li>
    <li><a href="https://linuxmint.com/">Linux Mint (Xfce)</a> <foss></foss> · a fork of Ubuntu focused on the "out-of-the-box"-experience</li>
    <li><a href="https://pop.system76.com/">Pop!_OS (GNOME)</a> <foss></foss> · another fork of Ubuntu</li>
    <li><a href="https://www.microsoft.com/de-de/software-download/windows11">Windows 11</a> · mainstream operating system</li>
</ul>

<h5>Other OS-related software</h5>

<ul>
    <li><a href="https://www.virtualbox.org/">VirtualBox</a> <foss></foss> · virtual machine manager</li>
    <li><a href="https://www.qemu.org/">KVM/QEMU</a> <foss></foss> · emulator and virtualizer</li>
    <li><a href="https://www.balena.io/etcher/">Etcher</a> <foss></foss> · simple OS image flasher</li>
</ul>

<h3>Translating</h3>
I'm a native German speaker, though I have a lot of experience in English, especially listening/reading ("input").
I helped translating the following software from English into German (if not otherwise noted):

<p>Vaguely sorted by how much I translated.</p>

<ul>
    <li><a href="https://fabulously-optimized.gitbook.io/modpack">Fabulously Optimized Wiki ⭐</a> <foss></foss> · a "wiki" (guide/documentation) on how to use the eponymous modpack</li>
    <li><a href="https://www.curseforge.com/minecraft/modpacks/fabulously-optimized">Fabulously Optimized</a> <foss></foss> · a Minecraft modpack</li>
    <li><a href="https://fosscord.com/">Fosscord</a> <foss></foss> · an open source social platform</li>
    <li><a href="https://redlime.github.io/SpeedRunIGT/">SpeedRunIGT</a> <foss></foss> · a Minecraft mod</li>
    <li><a href="https://www.spigotmc.org/resources/essentialsx.9089/">EssentialsX</a> <foss></foss> · a Minecraft server plugin</li>
    <li><a href="https://www.curseforge.com/minecraft/mc-mods/capes">Fabric Capes</a> <foss></foss> · a Minecraft mod</li>
    <li><a href="https://www.curseforge.com/minecraft/mc-mods/no-lan-cheating">No LAN Cheating</a> <foss></foss> · a Minecraft mod</li>
</ul>

{% include "components/end.html" %}
